@font-face{font-display:swap;font-family:'Muller';src:url(MullerUltraLight.eot);src:local('Muller UltraLight'),local(MullerUltraLight),url(MullerUltraLight.eot?#iefix) format("embedded-opentype"),url(MullerUltraLight.woff2) format("woff2"),url(MullerUltraLight.woff) format("woff"),url(MullerUltraLight.ttf) format("truetype");font-weight:200;font-style:normal}
@font-face{font-display:swap;font-family:'Muller';src:url(MullerMedium.eot);src:local('Muller Medium'),local(MullerMedium),url(MullerMedium.eot?#iefix) format("embedded-opentype"),url(MullerMedium.woff2) format("woff2"),url(MullerMedium.woff) format("woff"),url(MullerMedium.ttf) format("truetype");font-weight:500;font-style:normal}
@font-face{font-display:swap;font-family:'Muller';src:url(MullerRegular.eot);src:local('Muller Regular'),local(MullerRegular),url(MullerRegular.eot?#iefix) format("embedded-opentype"),url(MullerRegular.woff2) format("woff2"),url(MullerRegular.woff) format("woff"),url(MullerRegular.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-display:swap;font-family:'Muller Hairline';src:url(MullerHairline.eot);src:local('Muller Hairline'),local(MullerHairline),url(MullerHairline.eot?#iefix) format("embedded-opentype"),url(MullerHairline.woff2) format("woff2"),url(MullerHairline.woff) format("woff"),url(MullerHairline.ttf) format("truetype");font-weight:100;font-style:normal}
@font-face{font-display:swap;font-family:'Muller';src:url(MullerHeavy.eot);src:local('Muller Heavy'),local(MullerHeavy),url(MullerHeavy.eot?#iefix) format("embedded-opentype"),url(MullerHeavy.woff2) format("woff2"),url(MullerHeavy.woff) format("woff"),url(MullerHeavy.ttf) format("truetype");font-weight:900;font-style:normal}
@font-face{font-display:swap;font-family:'Muller';src:url(MullerThin.eot);src:local('Muller Thin'),local(MullerThin),url(MullerThin.eot?#iefix) format("embedded-opentype"),url(MullerThin.woff2) format("woff2"),url(MullerThin.woff) format("woff"),url(MullerThin.ttf) format("truetype");font-weight:100;font-style:normal}
@font-face{font-display:swap;font-family:'Muller';src:url(MullerLight.eot);src:local('Muller Light'),local(MullerLight),url(MullerLight.eot?#iefix) format("embedded-opentype"),url(MullerLight.woff2) format("woff2"),url(MullerLight.woff) format("woff"),url(MullerLight.ttf) format("truetype");font-weight:300;font-style:normal}
@font-face{font-display:swap;font-family:'Muller';src:url(MullerBlack.eot);src:local('Muller Black'),local(MullerBlack),url(MullerBlack.eot?#iefix) format("embedded-opentype"),url(MullerBlack.woff2) format("woff2"),url(MullerBlack.woff) format("woff"),url(MullerBlack.ttf) format("truetype");font-weight:900;font-style:normal}
@font-face{font-display:swap;font-family:'Muller';src:url(MullerBold.eot);src:local('Muller Bold'),local(MullerBold),url(MullerBold.eot?#iefix) format("embedded-opentype"),url(MullerBold.woff2) format("woff2"),url(MullerBold.woff) format("woff"),url(MullerBold.ttf) format("truetype");font-weight:700;font-style:normal}
@font-face{font-display:swap;font-family:'Muller';src:url(MullerExtraBold.eot);src:local('Muller ExtraBold'),local(MullerExtraBold),url(MullerExtraBold.eot?#iefix) format("embedded-opentype"),url(MullerExtraBold.woff2) format("woff2"),url(MullerExtraBold.woff) format("woff"),url(MullerExtraBold.ttf) format("truetype");font-weight:800;font-style:normal}
@font-face{font-display:swap;font-family:'Roboto-Thin';src:local('Roboto Thin'),local(Roboto-Thin),url(Robotothin.woff2) format("woff2"),url(Robotothin.woff) format("woff"),url(Robotothin.ttf) format("truetype");font-weight:100;font-style:normal}
@font-face{font-display:swap;font-family:'Roboto-Light';src:local('Roboto Light'),local(Roboto-Light),url(Robotolight.woff2) format("woff2"),url(Robotolight.woff) format("woff"),url(Robotolight.ttf) format("truetype");font-weight:300;font-style:normal}
@font-face{font-display:swap;font-family:'Roboto';src:local(Roboto),local(Roboto-Regular),url(Roboto.woff2) format("woff2"),url(Roboto.woff) format("woff"),url(Roboto.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-display:swap;font-family:'Roboto-Italic';src:local('Roboto Italic'),local(Roboto-Italic),url(Robotoitalic.woff2) format("woff2"),url(Robotoitalic.woff) format("woff"),url(Robotoitalic.ttf) format("truetype");font-weight:400;font-style:italic}
@font-face{font-display:swap;font-family:'Roboto-Medium';src:local('Roboto Medium'),local(Roboto-Medium),url(Robotomedium.woff2) format("woff2"),url(Robotomedium.woff) format("woff"),url(Robotomedium.ttf) format("truetype");font-weight:500;font-style:normal}
@font-face{font-display:swap;font-family:'Roboto-Bold';src:local('Roboto Bold'),local(Roboto-Bold),url(Robotobold.woff2) format("woff2"),url(Robotobold.woff) format("woff"),url(Robotobold.ttf) format("truetype");font-weight:700;font-style:normal}
@font-face{font-display:swap;font-family:'Roboto-Black';src:local('Roboto Black'),local(Roboto-Black),url(Robotoblack.woff2) format("woff2"),url(Robotoblack.woff) format("woff"),url(Robotoblack.ttf) format("truetype");font-weight:900;font-style:normal}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,iframe,ol,ul,li,form,label,i,footer,header,menu,nav,a,table,thead,tbody,tfoot,tr,th,td,video,canvas,section,/*commonly used tags*/
applet,object,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,ins,kbd,hgroup,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,dl,dt,dd,fieldset,legend,article,aside,details,embed,figure,figcaption,output,section,summary,time,mark,audio,center,ruby{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;position:relative}
ol,ul{list-style:none;padding:0;margin:0}
table{width:100%;border-collapse:collapse;border-spacing:0}
*{outline:none!important;-webkit-box-sizing:border-box;box-sizing:border-box}
a{display:inline-block;text-decoration:none}
button{cursor:pointer}
input,button,select{display:inline-block;padding:0;border:0}
body{font-family:'Muller';max-width:1920px;width:100%;margin:0 auto;padding:0}
.d_block{display:block}
.d_none{display:none}
.container{max-width:1200px;width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.jq-checkbox,.jq-radio{position:relative;display:inline-block;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.jq-checkbox input,.jq-radio input{position:absolute;z-index:-1;margin:0;padding:0;opacity:0}
.jq-file{position:relative;display:inline-block;overflow:hidden}
.jq-file input{position:absolute;top:0;right:0;height:auto;margin:0;padding:0;opacity:0;font-size:100px;line-height:1em}
.jq-file__name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.jq-selectbox,.jq-select-multiple{position:relative;display:inline-block}
.jq-selectbox select,.jq-select-multiple select{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;opacity:0}
.jq-selectbox li,.jq-select-multiple li{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}
.jq-selectbox{z-index:10}
.jq-selectbox__select{position:relative}
.jq-selectbox__select-text{overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap;text-overflow:ellipsis}
.jq-selectbox__dropdown{position:absolute}
.jq-selectbox__search input{-webkit-appearance:textfield}
.jq-selectbox__search input::-webkit-search-cancel-button,.jq-selectbox__search input::-webkit-search-decoration{-webkit-appearance:none}
.jq-selectbox__dropdown ul{position:relative;overflow:auto;overflow-x:hidden;list-style:none;-webkit-overflow-scrolling:touch}
.jq-select-multiple ul{position:relative;overflow-x:hidden;-webkit-overflow-scrolling:touch}
.jq-number{display:inline-block}
.jq-number__field input{-moz-appearance:textfield;text-align:left}
.jq-number__field input::-webkit-inner-spin-button,.jq-number__field input::-webkit-outer-spin-button{margin:0;-webkit-appearance:none}
.jq-checkbox,.jq-radio{vertical-align:-4px;width:16px;height:16px;margin:0 4px 0 0;border:1px solid #C3C3C3;background:linear-gradient(#FFF,#E6E6E6);box-shadow:0 1px 1px rgba(0,0,0,.05),inset -1px -1px #FFF,inset 1px -1px #FFF;cursor:pointer}
.jq-checkbox.disabled,.jq-radio.disabled{opacity:.55}
.jq-checkbox{border-radius:3px}
.jq-checkbox.checked .jq-checkbox__div{width:8px;height:4px;margin:3px 0 0 3px;border-bottom:2px solid #666;border-left:2px solid #666;-webkit-transform:rotate(-50deg);transform:rotate(-50deg)}
.jq-radio{border-radius:50%}
.jq-radio.checked .jq-radio__div{width:10px;height:10px;margin:3px 0 0 3px;border-radius:50%;background:#777;box-shadow:inset 1px 1px 1px rgba(0,0,0,.7)}
.jq-file{width:270px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.1)}
.jq-file input{cursor:pointer}
.jq-file__name{box-sizing:border-box;width:100%;height:34px;padding:0 80px 0 10px;border:1px solid #CCC;border-bottom-color:#B3B3B3;border-radius:4px;background:#FFF;box-shadow:inset 1px 1px #F1F1F1;font:14px/32px Arial,sans-serif;color:#333}
.jq-file__browse{position:absolute;top:1px;right:1px;padding:0 10px;border-left:1px solid #CCC;border-radius:0 4px 4px 0;background:linear-gradient(#FFF,#E6E6E6);box-shadow:inset 1px -1px #F1F1F1,inset -1px 0 #F1F1F1,0 1px 2px rgba(0,0,0,.1);font:14px/32px Arial,sans-serif;color:#333;text-shadow:1px 1px #FFF}
.jq-file:hover .jq-file__browse{background:linear-gradient(#F6F6F6,#E6E6E6)}
.jq-file:active .jq-file__browse{background:#F5F5F5;box-shadow:inset 1px 1px 3px #DDD}
.jq-file.focused .jq-file__name{border:1px solid #5794BF}
.jq-file.disabled,.jq-file.disabled .jq-file__name,.jq-file.disabled .jq-file__browse{border-color:#CCC;background:#F5F5F5;box-shadow:none;color:#888}
.jq-number{position:relative;vertical-align:middle;padding:0 36px 0 0}
.jq-number__field{width:100px;border:1px solid #CCC;border-bottom-color:#B3B3B3;border-radius:4px;box-shadow:inset 1px 1px #F1F1F1,0 1px 2px rgba(0,0,0,.1)}
.jq-number__field:hover{border-color:#B3B3B3}
.jq-number__field input{box-sizing:border-box;width:100%;padding:8px 9px;border:none;outline:none;background:none;font:14px Arial,sans-serif;color:#333}
.jq-number__spin{position:absolute;top:0;right:0;width:32px;height:14px;border:1px solid #CCC;border-bottom-color:#B3B3B3;border-radius:4px;background:linear-gradient(#FFF,#E6E6E6);box-shadow:0 1px 2px rgba(0,0,0,.1);box-shadow:inset 1px -1px #F1F1F1,inset -1px 0 #F1F1F1,0 1px 2px rgba(0,0,0,.1);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-shadow:1px 1px #FFF;cursor:pointer}
.jq-number__spin.minus{top:auto;bottom:0}
.jq-number__spin:hover{background:linear-gradient(#F6F6F6,#E6E6E6)}
.jq-number__spin:active{background:#F5F5F5;box-shadow:inset 1px 1px 3px #DDD}
.jq-number__spin:after{content:'';position:absolute;top:4px;left:11px;width:0;height:0;border-right:5px solid transparent;border-bottom:5px solid #999;border-left:5px solid transparent}
.jq-number__spin.minus:after{top:5px;border-top:5px solid #999;border-right:5px solid transparent;border-bottom:none;border-left:5px solid transparent}
.jq-number__spin.minus:hover:after{border-top-color:#000}
.jq-number__spin.plus:hover:after{border-bottom-color:#000}
.jq-number.focused .jq-number__field{border:1px solid #5794BF}
.jq-number.disabled .jq-number__field,.jq-number.disabled .jq-number__spin{border-color:#CCC;background:#F5F5F5;box-shadow:none;color:#888}
.jq-number.disabled .jq-number__spin:after{border-bottom-color:#AAA}
.jq-number.disabled .jq-number__spin.minus:after{border-top-color:#AAA}
.jq-selectbox{vertical-align:middle;cursor:pointer}
.jq-selectbox.disabled .jq-selectbox__select{border-color:#CCC;background:#F5F5F5;box-shadow:none;color:#888}
.jq-selectbox__select-text{display:block;width:100%}
.jq-selectbox .placeholder{color:#888}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow{border-top-color:#AAA}
.jq-selectbox__dropdown{box-sizing:border-box;width:100%;margin:2px 0 0;padding:0;border-radius:4px;background:#FFF;box-shadow:0 2px 10px rgba(0,0,0,.2);font:14px/18px Arial,sans-serif}
.jq-selectbox__search{margin:5px}
.jq-selectbox__search input{box-sizing:border-box;width:100%;margin:0;padding:5px 27px 6px 8px;border:1px solid #CCC;border-radius:3px;outline:none;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;box-shadow:inset 1px 1px #F1F1F1;color:#333}
.jq-selectbox__not-found{margin:5px;padding:5px 8px 6px;background:#F0F0F0;font-size:13px}
.jq-selectbox ul{margin:0;padding:0}
.jq-selectbox li{min-height:18px;padding:5px 10px 6px}
.jq-selectbox li.selected{background-color:#A3ABB1;color:#FFF;border-radius:4px}
.jq-selectbox li.disabled{color:#AAA}
.jq-selectbox li.disabled:hover{background:none}
.jq-selectbox li.optgroup{font-weight:700}
.jq-selectbox li.optgroup:hover{background:none;color:#231F20;cursor:default}
.jq-selectbox li.option{padding-left:25px}
.jq-select-multiple{box-sizing:border-box;padding:1px;border:1px solid #CCC;border-bottom-color:#B3B3B3;border-radius:4px;background:#FFF;box-shadow:inset 1px 1px #F1F1F1,0 1px 2px rgba(0,0,0,.1);font:14px/18px Arial,sans-serif;color:#333;cursor:default}
.jq-select-multiple.disabled{border-color:#CCC;background:#F5F5F5;box-shadow:none;color:#888}
.jq-select-multiple ul{margin:0;padding:0}
.jq-select-multiple li{padding:3px 9px 4px;list-style:none}
.jq-select-multiple li:first-child{border-radius:3px 3px 0 0}
.jq-select-multiple li:last-child{border-radius:0 0 3px 3px}
.jq-select-multiple li.selected{background:#08C;color:#FFF}
.jq-select-multiple li.disabled{color:#AAA}
.jq-select-multiple li.optgroup{font-weight:700}
.jq-select-multiple li.option{padding-left:25px}
.jq-select-multiple.disabled li.selected,.jq-select-multiple li.selected.disabled{background:#CCC;color:#FFF}
input[type='email'].styler,input[type='password'].styler,input[type='search'].styler,input[type='tel'].styler,input[type='text'].styler,input[type='url'].styler,textarea.styler{padding:8px 9px;border:1px solid #CCC;border-bottom-color:#B3B3B3;border-radius:4px;box-shadow:inset 1px 1px #F1F1F1,0 1px 2px rgba(0,0,0,.1);font:14px Arial,sans-serif;color:#333}
input[type='search'].styler{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea.styler{overflow:auto}
input[type='email'].styler:hover,input[type='password'].styler:hover,input[type='search'].styler:hover,input[type='tel'].styler:hover,input[type='text'].styler:hover,input[type='url'].styler:hover,textarea.styler:hover{border-color:#B3B3B3}
input[type='email'].styler:hover:focus,input[type='password'].styler:hover:focus,input[type='search'].styler:hover:focus,input[type='tel'].styler:hover:focus,input[type='text'].styler:hover:focus,input[type='url'].styler:hover:focus,textarea.styler:hover:focus{border-color:#CCC;border-top-color:#B3B3B3;outline:none;box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}
button.styler,input[type='button'].styler,input[type='submit'].styler,input[type='reset'].styler{overflow:visible;padding:8px 11px;border:1px solid #CCC;border-bottom-color:#B3B3B3;border-radius:4px;outline:none;background:linear-gradient(#FFF,#E6E6E6);box-shadow:inset 1px -1px #F1F1F1,inset -1px 0 #F1F1F1,0 1px 2px rgba(0,0,0,.1);font:14px Arial,sans-serif;color:#333;text-shadow:1px 1px #FFF;cursor:pointer}
button.styler.styler::-moz-focus-inner,input[type='button'].styler.styler::-moz-focus-inner,input[type='submit'].styler.styler::-moz-focus-inner,input[type='reset'].styler.styler::-moz-focus-inner{padding:0;border:0}
button.styler:not([disabled]):hover,input[type='button'].styler:not([disabled]):hover,input[type='submit'].styler:not([disabled]):hover,input[type='reset'].styler:not([disabled]):hover,input[type='reset'].styler:hover{background:linear-gradient(#F6F6F6,#E6E6E6)}
button.styler:active,input[type='button'].styler:active,input[type='submit'].styler:active,input[type='reset'].styler:active{background:#F5F5F5;box-shadow:inset 1px 1px 3px #DDD}
button.styler[disabled],input[type='button'].styler[disabled],input[type='submit'].styler[disabled]{border-color:#CCC;background:#F5F5F5;box-shadow:none;color:#888}
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-loading .slick-list{background:#fff url(../slick/ajax-loader.gif) center center no-repeat}
@font-face{font-display:swap;font-family:'slick';font-weight:400;font-style:normal;src:url(../slick/fonts/slick.eot);src:url(../slick/fonts/slick.eot?#iefix) format("embedded-opentype"),url(../slick/fonts/slick.woff) format("woff"),url(../slick/fonts/slick.ttf) format("truetype"),url(../slick/fonts/slick.svg#slick) format("svg")}
.slick-prev,.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{color:transparent;outline:none;background:transparent}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25}
.slick-prev:before,.slick-next:before{font-family:'slick';font-size:20px;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-prev{left:-25px}
[dir='rtl'] .slick-prev{right:-25px;left:auto}
.slick-prev:before{content:'←'}
[dir='rtl'] .slick-prev:before{content:'→'}
.slick-next{right:-25px}
[dir='rtl'] .slick-next{right:auto;left:-25px}
.slick-next:before{content:'→'}
[dir='rtl'] .slick-next:before{content:'←'}
.slick-dotted.slick-slider{margin-bottom:30px}
.slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}
.slick-dots li button{font-size:0;position:absolute;top:50%;transform:translateY(-50%);left:0;right:0;width:13px;height:13px;margin:auto;content:'';text-align:center;opacity:1;color:transparent;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-color:#0cf}
.slick-dots li.slick-active button{background-color:#369;color:#cdcdcd}
header{position:fixed;top:0;left:0;z-index:90;box-sizing:border-box;width:100%;background-color:rgba(37,37,54,.95);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.header-main{display:flex;align-items:center;justify-content:space-between;padding:5px 0}
.header-pages-lisit{justify-content:center}
.header-logo{max-width:192px;width:100%}
.header-logo a,.header-logo a img{width:100%}
.header-href{display:flex;align-items:center}
.header-href-vit a{box-shadow:0 3px 0 0 #2c3552,0 4px 4px 0 #000;font-size:12px;overflow:hidden;transition:.3s;background-color:#4d5a85}
.header-href-vit a:hover{box-shadow:0 3px 0 0 #2c3552,0 4px 4px 0 #000,inset 0 15px 15px -3px rgba(255,255,255,.4)}
.header-href-reg{margin:0 20px}
.header-href-reg a{transition:.3s;box-shadow:0 3px 0 0 #871628,0 4px 4px 0 #000;background-color:#fe284a}
.header-href-reg a:hover{box-shadow:0 3px 0 0 #2c3552,0 4px 4px 0 #000,inset 0 15px 15px -3px rgba(255,255,255,.4)}
.header-href_help a{display:flex;align-items:center;color:#e8ce3a;font-size:16px}
.header-href_help a svg{margin-right:6px}
.header-href-vit a,.header-href-reg a{outline:0;display:flex;align-items:center;justify-content:center;text-align:center;text-transform:uppercase;text-decoration:none;letter-spacing:1px;height:30px;padding:0 30px;white-space:nowrap;border:none;border-radius:50px;color:#fff;font-weight:800}
@media (max-width: 768px) {
.header-href-vit a,.header-href-reg a{padding:0 20px}
.header-main{flex-direction:column;align-items:center;padding-bottom:10px}
.header-href{padding-top:10px;width:100%;justify-content:center;border-top:1px solid #363648}
}
@media (max-width: 576px) {
.header-href-vit a,.header-href-reg a{padding:0 10px;font-size:13px}
.header-href_help a span{display:none}
}
body{background-color:#212132}
.pages-casino-info{height:380px;width:100%;background-repeat:no-repeat;background-size:cover;display:flex;align-items:flex-end}
.pages-casino_item{width:100%}
.pages-casino_text{display:flex;align-items:center;justify-content:center;height:62px;background:linear-gradient(90deg,rgba(50,18,88,0) 0,rgba(50,18,88,.9) 25%,rgba(50,18,88,.9) 75%,rgba(50,18,88,0))}
.pages-casino_text .slider_title{max-width:1200px;width:100%;background:linear-gradient(180deg,#ffbc3a 0,#ffbc3a 50%,#e7971e 55%,#ffe47a 65%,#ffe47a 80%,#ffe47a);-webkit-background-clip:text;-webkit-text-fill-color:transparent;line-height:48px;font-size:40px;text-align:center;white-space:nowrap;color:rgba(50,18,88,.9);display:block}
.block-nav-in_casino{max-width:1400px;width:100%;padding:0 15px;margin:0 auto}
.st0{fill:#5280EB}
.sect-bg{box-shadow:inset 0 5px 25px 0 rgba(0,0,0,.8);padding:5px 0;border-bottom:1px dashed #17eada}
.block-nav-in_casino ul{display:flex;flex-wrap:wrap}
.block-nav-in_casino ul li{width:20%;position:relative}
.block-nav-in_casino ul li + li:before{content:"";position:absolute;top:50%;transform:translateY(-50%);left:-1px;width:2px;height:34px;background-color:#313047;z-index:-1}
.block-nav-in_casino ul li a:hover{background:rgba(255,255,255,.05)}
.block-nav-in_casino ul li a{width:100%;height:100%;font-size:16px;text-transform:uppercase;font-weight:800;display:flex;align-items:center;justify-content:center;padding:5px;color:#FFF;border-radius:10px;transition:.3s}
.block-nav-in_casino ul li a svg{width:60px}
.block-nav-in_casino ul .small-width a svg{width:45px}
.block-nav-in_casino ul li a span{margin-left:15px}
.block-nav-in_casino ul li:nth-child(1) a{color:#17eada}
.block-nav-in_casino ul li:nth-child(2) a{color:#de593e}
.block-nav-in_casino ul li:nth-child(3) a{color:#6ef770}
.block-nav-in_casino ul li:nth-child(4) a{color:#e8ce3a}
.block-nav-in_casino ul li:nth-child(5) a{color:#4668bd}
.all-providers{margin-top:50px}
.all-providers_flex{width:100%;display:flex;align-items:center;justify-content:space-between}
.all-providers_block{display:flex;align-items:center;max-width:410px;width:100%}
.all-providers_cnt{max-width:300px;display:flex;align-items:center;height:35px;width:100%;border:1px solid transparent;border-radius:5px;padding:10px 25px 7px 10px;background:linear-gradient(#191929,#191929) padding-box,linear-gradient(180deg,transparent 40%,rgba(128,128,128,.4)) border-box;white-space:nowrap;font-weight:500;color:#fff;transition:box-shadow .25s ease;cursor:pointer}
.all-providers_cnt:hover{outline:0;box-shadow:0 0 0 2px #ffde26}
.all-providers_cnt_menu{opacity:0;visibility:hidden;position:absolute;z-index:2;max-width:362px;width:100%;top:100%;margin-top:5px;color:#fff;word-break:break-all;transition:visibility .5s,opacity .25s ease;pointer-events:none;border:1px solid transparent;border-radius:5px;padding:10px;background:linear-gradient(#191929,#191929) padding-box,linear-gradient(180deg,transparent 40%,rgba(128,128,128,.4)) border-box;z-index:9999;top:35px}
.all-providers_active_dr .all-providers_cnt_menu{opacity:1;visibility:visible;pointer-events:auto}
.all-providers_cnt_menu strong{background:#30303f;height:35px;width:170px;display:block;padding:0 0 0 5px;line-height:35px;font-size:14px;font-weight:500;color:#fff;border-radius:5px}
.all-providers_amatic{columns:170px 2;-moz-column-gap:0;column-gap:0;overflow-y:initial}
.all-providers_amatic_name{position:relative;height:35px;max-width:170px;width:100%;padding:0 0 0 30px;line-height:35px;font-size:14px;font-weight:500;color:#FFF;background:0 0;border-radius:3px;transition:.3s;margin-top:3px}
.all-providers_amatic_name:hover{background:#30303f}
.all-providers_amatic_str{position:absolute;top:0;left:5px;font-size:16px;font-weight:700;text-transform:uppercase;color:#646a87}
.all-providers_in{width:100%}
.all-providers_href_hi ul{display:flex;align-items:center}
.all-providers_href_hi ul li{width:40px;display:flex;justify-content:center;margin-left:25px}
.all-providers_href_hi ul li a{position:relative;display:flex;justify-content:center;align-items:flex-end;box-sizing:border-box;width:30px;border-radius:2px;background-color:#302e40;font-size:8px;font-weight:800;text-transform:uppercase;color:#fff;cursor:pointer;padding:3px 6px 4px}
.all-providers_href_hi ul li a svg{width:24px;height:18px}
.all-providers_href_hi ul li:first-child a{background:#a91fff}
.all-providers_href_hi ul li:first-child a:before{border-left:20px solid #a91fff}
.all-providers_href_hi ul li:first-child a:after{border-right:20px solid #a91fff}
.all-providers_href_hi ul li a:before,.all-providers_href_hi ul li a:after{content:"";position:absolute;border:10px solid transparent;height:0;width:0}
.all-providers_href_hi ul li a:before{bottom:-8px;border-left:20px solid #302e40}
.all-providers_href_hi ul li a:after{bottom:-8px;border-right:20px solid #302e40}
.all-providers_href_hi ul li:last-child a{background:#4dd433}
.all-providers_href_hi ul li:last-child a:before{border-left:20px solid #4dd433}
.all-providers_href_hi ul li:last-child a:after{border-right:20px solid #4dd433}
.all-providers_form{max-width:430px;width:100%}
.all-providers_form_inp{width:100%}
.all-providers_form_inp label input{border-radius:25px;padding-left:25px;padding-right:50px;width:100%;height:35px;border:1px solid transparent;background:linear-gradient(#191929,#191929) padding-box,linear-gradient(180deg,transparent 40%,rgba(128,128,128,.4)) border-box;font-weight:500;color:#fff;transition:box-shadow .25s ease;backface-visibility:hidden}
.all-providers_form_inp label input::placeholder{font-weight:500}
.all-providers_form_inp label input:hover{box-shadow:0 0 0 2px #ffde26}
.lightning-roulette{margin-top:45px}
.lightning-roulette_flex{display:flex;flex-wrap:wrap;margin:0 -7px}
.lightning-roulette_box{width:20%;padding:7px}
.lightning-roulette_block{width:100%;position:relative;flex-direction:column;border-radius:10px;box-shadow:0 4px 10px 0 #000;color:#fff;transition:transform .15s linear;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-font-smoothing:subpixel-antialiased;border:1px solid #393a51}
.lightning-roulette_block:hover{transform:scale(1.1)}
.lightning-roulette_img{position:relative;height:100%}
.lightning-roulette_img img{border-top-left-radius:10px;border-top-right-radius:10px;width:100%;height:100%}
.lightning-roulette_block:hover .lightning-roulette_img:after{content:"";position:absolute;top:0;left:0;width:100%;height:98%;background:rgba(0,0,0,0.6);border-top-left-radius:10px;border-top-right-radius:10px}
.href-ganes-demo_block{position:absolute;top:37%;left:50%;transform:translate(-50%);opacity:0;z-index:999}
.href-ganes-demo_bl{box-shadow:0 3px 0 0 #3c7028,0 4px 4px 0 #000;background-color:#62c23c;height:30px;padding:0 30px;font-size:16px;display:flex;align-items:center;justify-content:center;color:#FFF;border:none;border-radius:50px;font-weight:800;text-transform:uppercase;width:112px}
.href-ganes-demo{margin-top:15px;box-shadow:0 3px 0 0 #2c3552,0 4px 4px 0 #000;font-size:12px;overflow:hidden;transition:.3s;background-color:#4d5a85;outline:0;display:flex;align-items:center;justify-content:center;text-align:center;text-transform:uppercase;text-decoration:none;letter-spacing:1px;height:30px;padding:0 10px;white-space:nowrap;border:none;border-radius:50px;color:#fff;width:112px;font-weight:800}
.lightning-roulette_block:hover .href-ganes-demo_block{opacity:1}
.lightning-roulette_name{text-overflow:ellipsis;display:flex;align-items:center;justify-content:center;height:50px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:0 5px;background-color:#161626;font-weight:500;font-size:14px;text-align:center;word-wrap:break-word;overflow-wrap:break-word;margin-top:-4px}
.lightning-roulette_all{margin:40px 0;display:flex;justify-content:center}
.online-casino-vavada{margin-top:65px;margin-bottom:50px}
.online-casino-vavada_main h1{font-family:'Roboto';font-style:normal;font-weight:400;font-size:35px;line-height:41px;color:#FFF}
.online-casino-vavada_main a{color:#FFF}
.online-casino-vavada_main a:hover{text-decoration:underline}
.online-casino-vavada_main>ul{max-width:457px;width:100%;border:1px solid #FFF;border-radius:3px;padding:5px 5px 5px 30px;margin-top:25px;list-style-type:disc}
.online-casino-vavada_main ul li ul{padding-left:20px;list-style-type:disc}
.online-casino-vavada_main ul li{font-family:'Roboto';margin:3px 0;font-size:16px;line-height:19px;color:#FFF}
.online-casino-vavada_main p{font-size:16px;line-height:19px;color:#FFF;margin:15px 0}
.online-casino-vavada_main h2,h3{font-size:25px;line-height:29px;color:#FFF;font-family:'Roboto'}
.online-casino-vavada_main h3{font-size:20px;line-height:20px;color:red;font-family:'Roboto'}
.online-casino-vavada_main>img{margin:10px 0 20px;width:100%}
.online-casino-vavada_table{width:100%;margin-bottom:25px}
.online-casino-vavada_table table tr{border:1px solid #FFF}
.online-casino-vavada_table table tr td{text-align:center;padding:10px;color:#FFF}
.online-casino-vavada_table table tr td:first-child{border-right:1px solid #FFF}
.online-casino-vavada_table table tr:nth-child(odd){background:#30303f}
.submenu{display:none;width:100%}
.questions-and-answers{margin-top:35px;margin-bottom:25px}
.questions-and-answers>a{font-family:'Roboto';font-size:25px;line-height:29px;text-decoration-line:underline;color:#FFF}
.questions-and-answers>a:hover{text-decoration-line:unset}
.table-shipping__item{margin-top:15px}
.table-shipping__box{padding-left:20px;color:#FFF;position:relative;cursor:pointer}
.table-shipping__box:before{content:"+";position:absolute;top:0;left:0;font-size:19px;color:#FFF}
.open:before{content:"-"}
.submenu p{font-size:14px}
.pages-reviews_main{margin-top:55px}
.pages-reviews_main span{font-family:'Roboto';font-size:25px;line-height:29px;color:#FFF;font-weight:400}
.pages-reviews_info{display:flex;align-items:flex-start;margin-top:35px}
.pages-reviews_info_men{width:73px;margin-right:15px}
.pages-reviews_info_name strong{font-family:'Roboto';font-weight:400;font-size:20px;line-height:23px;color:#FFF}
.pages-reviews_info_name span{font-family:'Roboto';font-weight:400;font-size:15px;line-height:18px;color:#919090;display:block;margin:4px 0}
.pages-reviews_info_name p{font-family:'Roboto';font-weight:400;font-size:16px;line-height:19px;color:#FFF}
.legality_fon{background-color:#161626}
.legality_main{padding:20px 0;display:flex;flex-wrap:wrap}
.legality_main_info{width:33.333333%;text-align:left;display:flex;align-items:center;min-height:160px}
.legality_main_icon{width:35px;margin-right:15px}
.legality_main_icon svg{width:100%}
.legality_main_info_name{max-width:320px;width:100%}
.legality_main_info_name strong{margin-bottom:10px;font-size:18px;font-weight:800;color:#fff}
.legality_main_info_name p{text-overflow:ellipsis;font-size:14px;font-weight:500;color:#646a87;margin-top:10px}
.games-lnside{width:100%;height:750px;margin-top:55px}
.games-lnside iframe{width:100%;height:100%}
@media (max-width: 1170px) {
.lightning-roulette_box{width:25%}
}
@media (max-width: 992px) {
.pages-casino_text .slider_title{line-height:36px;font-size:34px}
.block-nav-in_casino ul li{width:33.333333%}
.block-nav-in_casino ul li + li:before{display:none}
.block-nav-in_casino ul li a{justify-content:flex-start}
.all-providers_href_hi ul li{margin-left:10px}
.all-providers_form{max-width:330px}
.pages-casino-info{height:300px}
.games-lnside{height:500px}
}
@media (max-width: 768px) {
.pages-casino_text .slider_title{line-height:26px;font-size:26px}
.pages-casino_text{height:auto;padding:10px}
.all-providers_flex{flex-direction:column;align-items:center}
.all-providers_form{max-width:405px;margin-top:20px}
.lightning-roulette_box{width:33.333333%}
.online-casino-vavada_main h1{font-size:30px;line-height:30px}
.online-casino-vavada_main p{font-size:15px;line-height:17px;margin:10px 0}
.online-casino-vavada_main h2{font-size:22px;line-height:22px}
.online-casino-vavada_table{overflow:auto;width:100%}
.online-casino-vavada_table table{width:750px;overflow-x:scroll}
.questions-and-answers>a{font-size:22px;line-height:24px}
.legality_main_info{width:50%;min-height:132px;padding:10px}
.games-lnside{height:350px}
}
@media (max-width: 576px) {
.pages-casino_text .slider_title{line-height:24px;font-size:24px}
.pages-casino-info{height:260px}
.block-nav-in_casino ul li{width:50%}
.block-nav-in_casino ul li a span{margin-left:10px}
.block-nav-in_casino ul li a{font-size:14px}
.block-nav-in_casino ul li a svg{width:45px}
.block-nav-in_casino ul .small-width a svg{width:42px}
.all-providers_cnt{font-size:14px;padding:10px 11px 7px 10px}
.all-providers_href_hi ul li{width:30px}
.all-providers_cnt_menu{max-width:290px}
.lightning-roulette_box{width:50%;padding:5px}
.lightning-roulette_flex{margin:0 -5px}
.lightning-roulette_img a{padding:0 15px;font-size:14px}
.lightning-roulette_all{margin:20px 0}
.online-casino-vavada{margin-top:35px;margin-bottom:30px}
.online-casino-vavada_main h1{font-size:26px;line-height:26px}
.online-casino-vavada_main>img{margin:5px 0 10px}
.online-casino-vavada_main h2{font-size:20px;line-height:20px}
.pages-reviews_info{margin-top:30px;flex-direction:column}
.legality_main_info{width:100%}
.games-lnside{height:270px}
}
.tags_title{color:#fff;font-size:25px;margin-bottom:12px}
.tags_list a{border:1px dashed #fff;padding:11px;margin-right:10px}
.play_vavada{color:#fff}
.play_vavada a{color:#fff}
ol.numer{list-style:upper-roman;padding:0;margin:30px;color:#fff}
footer{display:flex;flex-direction:column;align-items:center;padding-top:30px;background:url(../img/download232.png) repeat,#0a0a14;box-shadow:inset 0 30px 30px -10px rgba(0,0,0,.8)}
.footer-block-games{display:flex;align-items:flex-start;justify-content:space-between;margin-top:20px}
.footer-block-games_in{width:35%}
.footer-block-games_in .block-nav-in_casino ul li{width:50%}
.footer-block-games_in .block-nav-in_casino ul li a{justify-content:flex-start}
.footer-block-games_in .block-nav-in_casino ul li a:hover{transform:scale(1.1)}
.footer-block-games_name{width:100%;margin-bottom:15px;height:30px;border-bottom:1px solid #222330}
.footer-block-games_name .footer_title_el{line-height:30px;font-size:13px;font-weight:700;text-transform:uppercase;white-space:nowrap;color:#646a87}
.write-to-us{margin-top:10px}
.write-to-us ul{display:flex;align-items:center;justify-content:space-between}
.write-to-us ul li{width:50%}
.write-to-us ul li a{display:flex;align-items:center;height:36px;width:100%;border-radius:5px;padding:0 12px;font-size:16px;text-decoration:none;color:#fff;transition:background-color .15s linear,transform .15s linear;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-font-smoothing:subpixel-antialiased}
.write-to-us ul li a:hover{background-color:#252536;transform:scale(1.1)}
.icon-social_ul{margin-top:10px}
.icon-social_ul ul{display:flex;align-items:center}
.icon-social_ul ul li{margin-left:10px}
.icon-social_ul ul li a{display:flex;align-items:center;justify-content:center;height:35px;width:35px;border-radius:50%;transition:.3s}
.icon-social_ul ul li a:hover{box-shadow:0 3px 0 1px #223f61,inset 0 10px 10px 5px rgba(255,255,255,.4)}
.icon-social_ul ul li a svg{width:20px;height:20px}
.icon-social_ul ul li a svg d{width:20px;height:20px}
.fon_insta{background-color:#264484;box-shadow:0 3px 0 1px #16284d}
.fon_vk{background-color:#3a6aa3;box-shadow:0 3px 0 1px #223f61}
.fon_telegram{background-color:#2ca3df;box-shadow:0 3px 0 1px #1a6b84}
.fon_youtube{background-color:red;box-shadow:0 3px 0 1px #781712}
.company-partners{margin-top:35px}
.company-partners_icon{margin-bottom:25px}
.company-partners_icon ul{display:flex;align-items:center}
.company-partners_icon ul li{margin-right:30px;width:40px}
.company-partners_icon ul li:first-child{width:80px}
.company-partners_icon ul li:nth-child(2){width:45px}
.company-partners_icon ul li:nth-child(3){width:120px}
.company-partners_icon ul li:nth-child(4){width:80px}
.company-partners_icon ul li:nth-child(8){width:90px}
.company-partners_icon ul li:nth-child(10){width:93px}
.company-partners_icon ul li img{width:100%}
.company-partners_log{margin-top:15px}
.company-partners_log ul{display:flex;flex-wrap:wrap;align-items:center}
.company-partners_log ul li{margin-bottom:15px;margin-right:20px;width:120px}
.company-partners_log ul li img{width:100%}
.footer-line{width:100%;border-top:1px dashed #303036}
.footer-line_flex{display:flex;align-items:flex-start;justify-content:flex-end;padding:30px 0 15px}
.footer-line_cnt{display:flex;align-items:center;width:60%}
.footer-line_cnt img:first-child{width:40px;margin-right:15px}
.footer-line_cnt img{width:35px}
.footer-line_cnt p{max-width:400px;width:100%;font-size:12px;color:#646a87}
.footer-lang{max-width:160px;height:85px}
.footer-lang ul{position:relative;padding:6px 4px;color:#fff}
.footer-lang ul:after{content:"";background-image:url(../img/footer/download65.svg);width:12px;height:7px;position:absolute;top:13px;right:-8px}
.footer-lang ul li{display:flex;align-items:center;cursor:pointer}
.footer-lang ul li img:first-child{width:30px;height:30px;border-radius:50%}
.footer-lang ul li span{padding:0 10px;font-size:15px;font-weight:700;text-transform:uppercase;color:#fff}
.footer-lang ul li:first-child{display:flex}
.footer-lang ul li{display:none}
.footer-lang ul li + li{margin-top:12px}
.footer-lang_active_dr li{display:flex!important}
@media (max-width: 992px) {
.footer-block-games{display:flex;align-items:flex-start;justify-content:flex-start;margin-top:20px;flex-wrap:wrap}
.footer-block-games_in{width:50%}
.footer-block-games_help{margin-top:30px}
.company-partners_icon ul{flex-wrap:wrap}
.footer-line_cnt{width:75%}
}
@media (max-width: 768px) {
.footer-block-games_in{width:100%;margin-top:25px}
.footer-line_flex{flex-direction:column-reverse;align-items:center;padding:10px 0 15px}
}
@media (max-width: 576px) {
footer{padding-top:10px}
.footer-block-games{margin-top:2px}
.footer-block-games_in .block-nav-in_casino{padding:0}
.write-to-us ul{flex-direction:column;align-items:flex-start}
.write-to-us ul li{width:100%}
.company-partners_icon ul li{margin-right:20px;width:35px}
.company-partners_icon ul li:nth-child(3){width:110px}
.footer-line_cnt{width:100%;width:100%;flex-wrap:wrap;justify-content:flex-end}
.footer-line_cnt img:first-child{width:40px;margin-right:0;margin-bottom:15px}
}