footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: url('../img/download232.png') repeat,#0a0a14;
    box-shadow: inset 0 30px 30px -10px rgba(0,0,0,.8);
}
.footer-block-games{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-block-games_in{
    width: 35%;
}

.footer-block-games_in .block-nav-in_casino ul li {
    width: 50%;
}
.footer-block-games_in .block-nav-in_casino ul li a{
    justify-content: flex-start;
}
.footer-block-games_in .block-nav-in_casino ul li a:hover{
    transform: scale(1.1);

}
.footer-block-games_name{
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    border-bottom: 1px solid #222330;

}
.footer-block-games_name .footer_title_el{
    line-height: 30px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    color: #646a87;
}
.write-to-us{
    margin-top: 10px;
}
.write-to-us ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.write-to-us ul li{
    width: 50%;
}
.write-to-us ul li a{
    display: flex;
    align-items: center;
    height: 36px;
    width: 100%;
    border-radius: 5px;
    padding: 0 12px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: background-color .15s linear,transform .15s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}
.write-to-us ul li a:hover{
    background-color: #252536;
    transform: scale(1.1);
}


.icon-social_ul{
    margin-top: 10px;
}
.icon-social_ul ul{
    display: flex;
    align-items: center;
}
.icon-social_ul ul li{
    margin-left: 10px;
}
.icon-social_ul ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: 0.3s;
}
.icon-social_ul ul li a:hover{
    box-shadow: 0 3px 0 1px #223f61, inset 0 10px 10px 5px rgba(255,255,255,.4);
}
.icon-social_ul ul li a svg{
    width: 20px;
    height: 20px;
}
.icon-social_ul ul li a svg d{
    width: 20px;
    height: 20px;
}
.fon_insta{
    background-color: #264484;
    box-shadow: 0 3px 0 1px #16284d;
}
.fon_vk{
    background-color: #3a6aa3;
    box-shadow: 0 3px 0 1px #223f61;
}
.fon_telegram{
    background-color: #2ca3df;
    box-shadow: 0 3px 0 1px #1a6b84;
}
.fon_youtube{
    background-color: red;
    box-shadow: 0 3px 0 1px #781712;
}

.company-partners{
    margin-top: 35px;
}
.company-partners_icon{
    margin-bottom: 25px;
}
.company-partners_icon ul{
    display: flex;
    align-items: center;

}
.company-partners_icon ul li{
    margin-right: 30px;
    width: 40px;
}

.company-partners_icon ul li:first-child {
    width: 80px;
}
.company-partners_icon ul li:nth-child(2) {
    width: 45px;
}
.company-partners_icon ul li:nth-child(3) {
    width: 120px;
}
.company-partners_icon ul li:nth-child(4) {
    width: 80px;
}
.company-partners_icon ul li:nth-child(8) {
    width: 90px;
}
.company-partners_icon ul li:nth-child(10) {
    width: 93px;
}
.company-partners_icon ul li  img{
    width: 100%;
}

.company-partners_log{
    margin-top: 15px;
}
.company-partners_log ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.company-partners_log ul li {
    margin-bottom: 15px;
    margin-right: 20px;
    width: 120px;
}
.company-partners_log ul li img{
    width: 100%;
}
.footer-line{
    width: 100%;
    border-top: 1px dashed #303036;
}
.footer-line_flex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 30px 0 15px;
}
.footer-line_cnt{
    display: flex;
    align-items: center;
    width: 60%;
}
.footer-line_cnt img:first-child{
    width: 40px;
    margin-right: 15px;
}
.footer-line_cnt img{
    width: 35px;
}
.footer-line_cnt p{
    max-width: 400px;
    width: 100%;
    font-size: 12px;
    color: #646a87;
}
.footer-lang{
    max-width: 160px;
    height: 85px;
}
.footer-lang ul{
    position: relative;

    padding: 6px 4px;
    color: #fff;
}
.footer-lang ul:after{
    content: "";
    background-image: url("../img/footer/download65.svg");
    width: 12px;
    height: 7px;
    position: absolute;
    top: 13px;
    right: -8px;
}
.footer-lang ul li{
    display: flex;
    align-items: center;

    cursor: pointer;
}
.footer-lang ul li img:first-child{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.footer-lang ul li span{
    padding: 0 10px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.footer-lang ul li:first-child{
    display: flex;
}
.footer-lang ul li {
    display: none;
}
.footer-lang ul li + li{
    margin-top: 12px;
}
.footer-lang_active_dr li{
    display: flex!important;
}


@media (max-width: 992px){
    .footer-block-games {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .footer-block-games_in {
        width: 50%;
    }
    .footer-block-games_help{
        margin-top: 30px;
    }
    .company-partners_icon ul{
        flex-wrap: wrap;
    }
    .footer-line_cnt {
        width: 75%;
    }
}

@media (max-width: 768px){
    .footer-block-games_in {
        width: 100%;
        margin-top: 25px;
    }
    .footer-line_flex{
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 0 15px;
    }

}
@media (max-width: 576px){
    footer {
        padding-top: 10px;
    }
    .footer-block-games {
        margin-top: 2px;
    }
    .footer-block-games_in .block-nav-in_casino {
        padding: 0;
    }
    .write-to-us ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .write-to-us ul li{
        width: 100%;
    }
    .company-partners_icon ul li {
        margin-right: 20px;
        width: 35px;
    }
    .company-partners_icon ul li:nth-child(3) {
        width: 110px;
    }
    .footer-line_cnt {
        width: 100%;
    }
    .footer-line_cnt {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .footer-line_cnt img:first-child {
        width: 40px;
        margin-right: 0;
        margin-bottom: 15px;
    }
}