header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(37,37,54,.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.header-pages-lisit{
    justify-content: center;
}
.header-logo{
    max-width: 192px;
    width: 100%;
}
.header-logo a , .header-logo a img{
    width: 100%;
}
.header-href{
    display: flex;
    align-items: center;

}
.header-href-vit a{
    box-shadow: 0 3px 0 0 #2c3552, 0 4px 4px 0 #000;
    font-size: 12px;
    overflow: hidden;
    transition: 0.3s;
    background-color: #4d5a85;
}
.header-href-vit a:hover{
    box-shadow: 0 3px 0 0 #2c3552, 0 4px 4px 0 #000, inset 0 15px 15px -3px rgba(255,255,255,.4);
}
.header-href-reg{
    margin: 0 20px;
}
.header-href-reg a{
    transition: 0.3s;

    box-shadow: 0 3px 0 0 #871628, 0 4px 4px 0 #000;
    background-color: #fe284a;
}
.header-href-reg a:hover{
    box-shadow: 0 3px 0 0 #2c3552, 0 4px 4px 0 #000, inset 0 15px 15px -3px rgba(255,255,255,.4);

}
.header-href_help a{
    display: flex;
    align-items: center;
    color: #e8ce3a;
    font-size: 16px;
}
.header-href_help a svg{
    margin-right: 6px;
}
.header-href-vit a , .header-href-reg a{
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    height: 30px;
    padding: 0 30px;
    white-space: nowrap;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 800;
}


@media (max-width: 768px){
    .header-href-vit a, .header-href-reg a {
        padding: 0 20px;
    }
    .header-main{
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .header-href{
        padding-top: 10px;
        width: 100%;
        justify-content: center;
        border-top: 1px solid #363648;
    }
}
@media (max-width: 576px){
    .header-href-vit a, .header-href-reg a {
        padding: 0 10px;
        font-size: 13px;
    }
    .header-href_help a span{
        display: none;
    }
}