body{
    background-color: #212132;
}
.pages-casino-info{
    height: 380px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.pages-casino_item{
    width: 100%;
}
.pages-casino_text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    background: linear-gradient(90deg,rgba(50,18,88,0) 0,rgba(50,18,88,.9) 25%,rgba(50,18,88,.9) 75%,rgba(50,18,88,0));
}
.pages-casino_text .slider_title{
    max-width: 1200px;
    width: 100%;
    background: linear-gradient(180deg,#ffbc3a 0,#ffbc3a 50%,#e7971e 55%,#ffe47a 65%,#ffe47a 80%,#ffe47a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 48px;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    color: rgba(50,18,88,.9);
    display: block;
}
.block-nav-in_casino{
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.st0 {
    fill: #5280EB;
}

.sect-bg{
    box-shadow: inset 0 5px 25px 0 rgba(0,0,0,.8);
    padding: 5px 0;
    border-bottom: 1px dashed #17eada;

}

.block-nav-in_casino  ul{
    display: flex;
    flex-wrap: wrap;
}
.block-nav-in_casino  ul li{
    width: 20%;
    position: relative;
}
.block-nav-in_casino  ul li + li:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1px;
    width: 2px;
    height: 34px;
    background-color: #313047;
    z-index: -1;
}
.block-nav-in_casino  ul li a:hover{
    background: rgba(255,255,255,.05);
}
.block-nav-in_casino  ul li a{
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    color: #FFFFFF;
    border-radius: 10px;
    transition: 0.3s;

}

.block-nav-in_casino  ul li a svg{
    width: 60px;
}

 .block-nav-in_casino  ul .small-width a svg{
    width: 45px;
}
.block-nav-in_casino  ul li a  span{
    margin-left: 15px;
}
.block-nav-in_casino  ul li:nth-child(1) a{
    color: #17eada;
}
.block-nav-in_casino  ul li:nth-child(2) a{
    color: #de593e;
}
.block-nav-in_casino  ul li:nth-child(3) a{
    color: #6ef770;
}
.block-nav-in_casino  ul li:nth-child(4) a{
    color: #e8ce3a;
}
.block-nav-in_casino  ul li:nth-child(5) a{
    color: #4668bd;
}

.all-providers{
    margin-top: 50px;
}
.all-providers_flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-providers_block{
    display: flex;
    align-items: center;
    max-width: 410px;
    width: 100%;
}

.all-providers_cnt{
    max-width: 300px;
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 25px 7px 10px;
    background: linear-gradient(#191929,#191929) padding-box,linear-gradient(180deg,transparent 40%,rgba(128,128,128,.4)) border-box;
    white-space: nowrap;
    font-weight: 500;
    color: #fff;
    transition: box-shadow .25s ease;
    cursor: pointer;
}
.all-providers_cnt:hover{
    outline: 0;
    box-shadow: 0 0 0 2px #ffde26;
}
.all-providers_cnt_menu{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    max-width: 362px;
    width: 100%;
    top: 100%;
    margin-top: 5px;
    color: #fff;
    word-break: break-all;
    transition: visibility .5s,opacity .25s ease;
    pointer-events: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(#191929,#191929) padding-box,linear-gradient(180deg,transparent 40%,rgba(128,128,128,.4)) border-box;
    z-index: 9999;
    top: 35px;
}
.all-providers_active_dr .all-providers_cnt_menu{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.all-providers_cnt_menu strong{
    background: #30303f;
    height: 35px;
    width: 170px;
    display: block;
    padding: 0 0 0 5px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
}
.all-providers_amatic{

    columns: 170px 2;
    -moz-column-gap: 0;
    column-gap: 0;
    overflow-y: initial;
}
.all-providers_amatic_name{
    position: relative;
    height: 35px;
    max-width: 170px;
    width: 100%;
    padding: 0 0 0 30px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    background: 0 0;
    border-radius: 3px;
    transition: 0.3s;
    margin-top: 3px;
}
.all-providers_amatic_name:hover{
    background: #30303f;
}
.all-providers_amatic_str{
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #646a87;
}
.all-providers_in{
    width: 100%;
}

.all-providers_href_hi ul{
    display: flex;
    align-items: center;
}
.all-providers_href_hi ul li{
    width: 40px;
    display: flex;
    justify-content: center;
    margin-left: 25px;
}
.all-providers_href_hi ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    width: 30px;
    border-radius: 2px;
    background-color: #302e40;
    font-size: 8px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 3px 6px 4px;
}

.all-providers_href_hi ul li a svg{
    width: 24px;
    height: 18px;
}
.all-providers_href_hi ul li:first-child a{
    background: #a91fff;
}
.all-providers_href_hi ul li:first-child a:before{
    border-left: 20px solid #a91fff;
}
.all-providers_href_hi ul li:first-child a:after{
    border-right: 20px solid #a91fff;
}
.all-providers_href_hi ul li a:before ,.all-providers_href_hi ul li a:after{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    height: 0;
    width: 0;
}
.all-providers_href_hi ul li a:before{
    bottom: -8px;
    border-left: 20px solid #302e40;
}
.all-providers_href_hi ul li a:after{
    bottom: -8px;
    border-right: 20px solid #302e40;
}
.all-providers_href_hi ul li:last-child a{
    background: #4dd433;
}
.all-providers_href_hi ul li:last-child a:before{
    border-left: 20px solid #4dd433;
}
.all-providers_href_hi ul li:last-child a:after{
    border-right: 20px solid #4dd433;
}

.all-providers_form{
    max-width: 430px;
    width: 100%;
}
.all-providers_form_inp{
    width: 100%;
}
.all-providers_form_inp label input{
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 50px;
    width: 100%;
    height: 35px;
    border: 1px solid transparent;
    background: linear-gradient(#191929,#191929) padding-box,linear-gradient(180deg,transparent 40%,rgba(128,128,128,.4)) border-box;
    font-weight: 500;
    color: #fff;
    transition: box-shadow .25s ease;
    backface-visibility: hidden;
}
.all-providers_form_inp label input::placeholder{
    font-weight: 500;
}
.all-providers_form_inp label input:hover{
    box-shadow: 0 0 0 2px #ffde26;
}

.lightning-roulette{
    margin-top: 45px;
}
.lightning-roulette_flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
}
.lightning-roulette_box{
    width: 20%;
    padding: 7px;
}
.lightning-roulette_block{
    width: 100%;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 #000;
    color: #fff;
    transition: transform .15s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    border: 1px solid #393a51;
}
.lightning-roulette_block:hover{
    transform: scale(1.1);

}
.lightning-roulette_img{
    position: relative;
    height: 100%;

}
.lightning-roulette_img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;

}
.lightning-roulette_block:hover .lightning-roulette_img:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(0,0,0,0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.href-ganes-demo_block{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    z-index: 999;
}

.href-ganes-demo_bl {
    box-shadow: 0 3px 0 0 #3c7028, 0 4px 4px 0 #000;
    background-color: #62c23c;
    height: 30px;
    padding: 0 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    font-weight: 800;
    text-transform: uppercase;
    width: 112px;

}

.href-ganes-demo{
    margin-top: 15px;
    box-shadow: 0 3px 0 0 #2c3552, 0 4px 4px 0 #000;
    font-size: 12px;
    overflow: hidden;
    transition: 0.3s;
    background-color: #4d5a85;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    height: 30px;
    padding: 0 10px;
    white-space: nowrap;
    border: none;
    border-radius: 50px;
    color: #fff;
    width: 112px;
    font-weight: 800;
}
.lightning-roulette_block:hover .href-ganes-demo_block {
    opacity: 1;
}

.lightning-roulette_name{
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 5px;
    background-color: #161626;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: -4px;
}

.lightning-roulette_all{
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.online-casino-vavada{
    margin-top: 65px;
    margin-bottom: 50px;
}
.online-casino-vavada_main h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
}

.online-casino-vavada_main a{
     color: #FFFFFF;
 }
.online-casino-vavada_main a:hover{
   text-decoration: underline;
}
.online-casino-vavada_main>ul{
    max-width: 457px;
    width: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 5px 5px 5px 30px;
    margin-top: 25px;
    list-style-type: disc;
}
.online-casino-vavada_main ul li ul{
    padding-left:  20px;
    list-style-type: disc;

}
.online-casino-vavada_main ul li{
    font-family: 'Roboto';
    margin: 3px 0;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.online-casino-vavada_main p{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 15px 0;
}
.online-casino-vavada_main h2, h3{
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    font-family: 'Roboto';

}
.online-casino-vavada_main h3{
    font-size: 20px;
    line-height: 20px;
    color: red;
    font-family: 'Roboto';

}
.online-casino-vavada_main>img{
    margin: 10px 0 20px;
    width: 100%;
}
.online-casino-vavada_table{
    width: 100%;
    margin-bottom: 25px;
}
.online-casino-vavada_table table tr{
    border: 1px solid #FFFFFF;

}
.online-casino-vavada_table table tr td{
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
}
.online-casino-vavada_table table tr td:first-child{
    border-right: 1px solid #FFFFFF;
}

.online-casino-vavada_table table tr:nth-child(odd){
    background: #30303f;
}


.submenu {
    display: none;
    width: 100%;
}

.questions-and-answers{
    margin-top: 35px;
    margin-bottom: 25px;
}
.questions-and-answers>a{
    font-family: 'Roboto';
    font-size: 25px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.questions-and-answers>a:hover{
    text-decoration-line: unset;
}
.table-shipping__item{
    margin-top: 15px;
}
.table-shipping__box{
    padding-left: 20px;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
}
.table-shipping__box:before{
    content: "+";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 19px;
    color: #FFFFFF;
}
.open:before{
    content: "-";
}
.submenu p{
    font-size: 14px;
}

.pages-reviews_main{
    margin-top: 55px;
}
.pages-reviews_main span{
    font-family: 'Roboto';
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    font-weight: normal;
}
.pages-reviews_info{
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
}
.pages-reviews_info_men{
    width: 73px;
    margin-right: 15px;
}
.pages-reviews_info_name strong{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;

}
.pages-reviews_info_name span{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #919090;
    display: block;
    margin: 4px 0;
}
.pages-reviews_info_name p{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.legality_fon{
    background-color: #161626;
}
.legality_main{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.legality_main_info{
    width: 33.333333%;
    text-align: left;
    display: flex;
    align-items: center;
    min-height: 160px;
}
.legality_main_icon{
    width: 35px;
    margin-right: 15px;
}
.legality_main_icon svg{
    width: 100%;
}
.legality_main_info_name{
    max-width: 320px;
    width: 100%;
}
.legality_main_info_name strong{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}
.legality_main_info_name p{
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    color: #646a87;
    margin-top: 10px;
}

.games-lnside{
    width: 100%;
    height: 750px;
    margin-top: 55px;
}
.games-lnside iframe{
    width: 100%;
    height: 100%;
}


@media (max-width: 1170px){
    .lightning-roulette_box {
        width: 25%;
    }

}
@media (max-width: 992px){
    .pages-casino_text .slider_title {
        line-height: 36px;
        font-size: 34px;
    }
    .block-nav-in_casino ul li {
        width: 33.333333%;
    }
    .block-nav-in_casino ul li + li:before{
        display: none;
    }
    .block-nav-in_casino ul li a {
        justify-content: flex-start;
    }
    .all-providers_href_hi ul li {
        margin-left: 10px;
    }
    .all-providers_form {
        max-width: 330px;
    }
    .pages-casino-info {
        height: 300px;
    }
    .games-lnside {
        height: 500px;
    }
}

@media (max-width: 768px){
    .pages-casino_text .slider_title {
        line-height: 26px;
        font-size: 26px;
    }
    .pages-casino_text {
        height: auto;
        padding: 10px ;
    }
    .all-providers_flex{
        flex-direction: column;
        align-items: center;
    }
    .all-providers_form {
        max-width: 405px;
        margin-top: 20px;
    }
    .lightning-roulette_box {
        width: 33.333333%;
    }
    .online-casino-vavada_main h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .online-casino-vavada_main p {
        font-size: 15px;
        line-height: 17px;
        margin: 10px 0;
    }
    .online-casino-vavada_main h2 {
        font-size: 22px;
        line-height: 22px;
    }
    .online-casino-vavada_table{
        overflow: auto;
        width: 100%;
    }
    .online-casino-vavada_table table{
        width: 750px;
        overflow-x: scroll;
    }
    .questions-and-answers>a {
        font-size: 22px;
        line-height: 24px;
    }
    .legality_main_info {
        width: 50%;
        min-height: 132px;
        padding: 10px;
    }
    .games-lnside {
        height: 350px;
    }
}

@media (max-width: 576px) {
    .pages-casino_text .slider_title {
        line-height: 24px;
        font-size: 24px;
    }

    .pages-casino-info {
        height: 260px;
    }

    .block-nav-in_casino ul li {
        width: 50%;
    }

    .block-nav-in_casino ul li a span {
        margin-left: 10px;
    }

    .block-nav-in_casino ul li a {
        font-size: 14px;
    }
    .block-nav-in_casino ul li a svg {
        width: 45px;
    }
    .block-nav-in_casino ul .small-width a svg {
        width: 42px;
    }
    .all-providers_cnt {
        font-size: 14px;
        padding: 10px 11px 7px 10px;
    }
    .all-providers_href_hi ul li {
        width: 30px;
    }
    .all-providers_cnt_menu {
        max-width: 290px;
    }
    .lightning-roulette_box {
        width: 50%;
        padding: 5px;
    }
    .lightning-roulette_flex {
        margin: 0 -5px;
    }
    .lightning-roulette_img a {
        padding: 0 15px;
        font-size: 14px;
    }
    .lightning-roulette_all {
        margin: 20px 0;
    }
    .online-casino-vavada {
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .online-casino-vavada_main h1 {
        font-size: 26px;
        line-height: 26px;
    }
    .online-casino-vavada_main>img {
        margin: 5px 0 10px;
    }
    .online-casino-vavada_main h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .pages-reviews_info {
        margin-top: 30px;
        flex-direction: column;
    }
    .legality_main_info {
        width: 100%;
    }
    .games-lnside {
        height: 270px;
    }
}

.tags_title{
    color: white;
    font-size: 25px;
    margin-bottom: 12px;
}


.tags_list a{
    border: 1px dashed white;
    padding: 11px;
    margin-right: 10px;
}
.play_vavada{
    color: white;
}

.play_vavada a{
    color: white;
}
ol.numer{
    list-style: upper-roman;
    padding: 0;
    margin: 30px;
    color: white;
}